h1 {
  text-align: center;
}

.table {
  margin: auto;
}

table,
tr,
td {
  border: solid;
  margin: 10% auto;
}

#option {
  display: flex;
  flex-direction: column;
}

#transactionForm {
  display: flex;
  align-items: space-around;
}

#transactionForm > * {
  margin: 15px;
  padding: 15px;
  width: 100%;
}

h1,
body {
  text-align: center;
}
